/* Reset do CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    width: 80%;
    margin: 0 auto;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif; */

/* Header */

header {
    padding-top: 100px;
}

header h1 {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -2px;
    width: 278px;
    float: left;
}

header h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px; 
    width: 117px;
}

header p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

header div{
    float: left;
    width: 50%;
}

/* Main */
main {
    float: left;
    padding-top: 96px;
    width: 100%;
}

main div {
    float: left;
    width: 33.333333%;
    height: 500px;
}

main div figure img {
    width: 238px;
    float: left;
}

main div:nth-of-type(2),  main div:nth-of-type(5){
    padding-top: 99px;
}

div p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    float: left;
    padding-top: 15px;
    width: 100%;
}

div figure figcaption{
    font-family: 'PT Serif', serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    display: inline-block;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding-left: 10px;
}

/* Footer */

footer {
    width: 100%;
    float: left;
    margin-top: 200px;
}

footer h1{
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 17px;
text-align: center;
color: #a9a9a9;
}
footer span{
    font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 17px;
text-align: center;

}


@media screen and (max-width:1080px){
    
    main div {
        width: 50%;
        margin-bottom: 100px;
}
    main div:nth-of-type(2),  main div:nth-of-type(6), main div:nth-of-type(4){
        float: right;
        padding-top: 99px;
}
    main div:nth-of-type(5){
        padding-top: 0;
    }
}

@media screen and (max-width:700px){
    
    main div {
        margin-bottom: 50px;
        height: 250px;
}
    main div figure img {
        width: 138px;
}
    header div {
        width: 100%;
        margin-bottom: 38px;
    }
    header{
        padding-top: 70px;
    }
}

@media screen and (max-width:420px){
    
    body {
        width: 95%;
}
    main div figure img {
        width: 138px;
}
header div p{
    font-size: 14px;
}
}
